@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
body { font: 100% "Spartan", sans-serif; font-size: 15px; margin: 0; height: 100vh; background-color: #effafa; }

header { width: 100vw; height: 140px; background-color: #5ba4a4; }

header .header__img { width: 100%; height: 100%; }

header .img--mobile { display: none; }

button { border: 0; outline: 0; cursor: pointer; padding: 10px; border-radius: 5px; font-family: 'Spartan', sans-serif; font-size: 15px; font-weight: 700; color: #5ba4a4; background-color: #effafa; }

.container { display: flex; flex-direction: column; align-items: center; }

.filter__box { display: none; }

.filter__box.show { display: flex; justify-content: space-between; align-items: center; position: absolute; top: 12%; width: 75%; min-height: 75px; background-color: white; border-radius: 10px; box-shadow: 0 15px 35px rgba(91, 164, 164, 0.05), 0 10px 20px rgba(91, 164, 164, 0.15); }

.filter__box.show ul { margin: 0 45px; padding: 0; }

.filter__box.show ul li { list-style: none; float: left; padding: 10px; }

.filter__box.show ul li button { display: flex; justify-content: space-between; align-items: center; cursor: default; padding: 0 0 0 10px; line-height: 2.5; }

.filter__box.show ul li button i { width: 40px; cursor: pointer; line-height: 2.5; margin-left: 10px; color: white; background-color: #5ba4a4; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }

.filter__box.show ul li button i:hover { background-color: #2c3a3a; }

.filter__box.show ul li:nth-child(1) { padding-left: 0; }

.filter__box.show .filter__clear { margin: 0 45px; font-weight: 700; text-decoration: none; background-color: transparent; }

.filter__box.show .filter__clear:hover { text-decoration: underline; }

.section__list { width: 75%; margin: 50px 0; }

.section__list ul { margin: 0; padding: 0; }

.section__list ul li { display: flex; justify-content: space-between; align-items: center; list-style: none; background-color: white; border-radius: 10px; padding: 15px 45px; margin: 30px 0; box-shadow: 0 15px 35px rgba(91, 164, 164, 0.05), 0 10px 20px rgba(91, 164, 164, 0.15); }

.section__list ul li .job__info { display: flex; }

.section__list ul li .job__info div { padding-left: 25px; }

.section__list ul li .job__info div div { padding-left: 0; font-weight: 700; }

.section__list ul li .job__info div div .job__name { color: #5ba4a4; padding-right: 20px; }

.section__list ul li .job__info div div .note { color: white; font-size: 10px; text-transform: uppercase; padding: 5px 7px; border-radius: 15px; }

.section__list ul li .job__info div div .note--new { background-color: #5ba4a4; }

.section__list ul li .job__info div div .note--featured { background-color: #2c3a3a; }

.section__list ul li .job__info div .job__position { font-size: 20px; font-weight: 700; margin: 10px 0; cursor: pointer; }

.section__list ul li .job__info div .job__position:hover { color: #5ba4a4; }

.section__list ul li .job__info div ul li { float: left; padding: 0 0 0 15px; margin: 0; color: #7b8e8e; box-shadow: none; }

.section__list ul li .job__info div ul li:nth-child(1) { padding: 0; }

.section__list ul li .job__tags ul li { float: left; padding: 10px; box-shadow: none; }

.section__list ul li .job__tags button:hover { color: white; background-color: #5ba4a4; }
